[Desktop Entry]
Exec=b1air-text %U
Icon=b1air-text
Terminal=false
Type=Application
Name=Text Editor
Name[uk]=Текстовий редактор
Name[ru]=Текстовый редактор
GenericName=Text Editor
GenericName[uk]=Текстовий редактор
GenericName[ru]=Текстовый редактор
Comment=Edit text and configuration files
Comment[uk]=Редагування тексту й файлів налаштувань
Comment[ru]=Редактирование текста и файлов настроек
Keywords=text;editor;txt;config;
Keywords[uk]=текст;редактор;
Keywords[ru]=текст;редактор;
Categories=Utility;TextEditor;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-python;application/x-shellscript;text/x-qml;text/markdown;application/json;
StartupNotify=true
StartupWMClass=b1air-text
