[Desktop Entry]
Name=Notes
GenericName=Markdown Notes & Scratchpad
Comment=Markdown Scratchpad with Obsidian & Notion Sync
Exec=b1air-notes
Icon=b1air-notes
Terminal=false
Type=Application
Categories=Utility;TextEditor;Office;
StartupWMClass=b1air-notes
