[Desktop Entry]
Name=Git
GenericName=Git Repository & Diff Tool
Comment=Visual Git Status, Diff & Commit Tool
Exec=b1air-git
Icon=b1air-git
Terminal=false
Type=Application
Categories=Development;RevisionControl;
StartupWMClass=b1air-git
