[Desktop Entry]
Name=Files
Comment=File Manager & Media Gallery
Exec=b1air-files %U
Icon=b1air-files
Terminal=false
Type=Application
Categories=System;FileTools;FileManager;Utility;
MimeType=inode/directory;application/zip;application/x-tar;application/x-7z-compressed;application/x-rar;application/gzip;application/x-xz;application/x-zstd-compressed-tar;
StartupNotify=true
StartupWMClass=b1air-files
