[Desktop Entry]
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=Native Wayland Desktop Terminal Emulator
Exec=b1air-term %U
Icon=b1air-term
Terminal=false
Categories=System;TerminalEmulator;Utility;
Keywords=terminal;shell;prompt;command;commandline;cmd;
StartupNotify=true
StartupWMClass=b1air-term
